.git/
config/
logs/
plugins/
cronometer_credential.py
.env
__pycache__/
.vscode
selenium_test.py
test_processing_viz.ipynb
selenium_test2.py
selenium_test3.py
cookie.py
test_output.ipynb
nlp_bert_test.py
generate_training_data.ipynb
labelled_training_data.csv
unlabelled_training_data.csv
generate_training_data_with_category.ipynb
partially_labelled_data.csv
unlabelled_training_data_without_category.csv
results/
new_labelled_data.csv
data_preprocessing_post_labelling.ipynb
improvement.md
garmin_data/
